/* your code here */ 
.footer {
  background-color: #222;
  color: #fff;
  padding: 40px 20px;
  margin-top: 30px;
  font-family: Arial, sans-serif;
}
.company{
	display: flex;
     justify-content: space-between; 
     align-items: center;
     padding: 10px 20px;
	
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1100px;
  margin: auto;
}

.footer-section 
{
  margin: 10px;
  text-autospace: 40px;
}

.footer-section h3 
{
  margin-bottom: 12px;
  font-size: 18px;
  border-bottom: 1px solid #555;
  padding-bottom: 5px;
}

.footer-section ul
{
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-section ul li 
{
  margin: 8px 0;
}

.footer-section ul li a 
{
  text-decoration: none;
  color: #bbb;
  transition: 0.3s;
}

.footer-section ul li a:hover
{
  color: #fff;
}

/* Social Icons */
.media-icons 
{
  font-size: 22px;
  margin-right: 10px;
  cursor: pointer;
  transition: transform 0.3s;
	 display: flex;
}

.media-icons:hover 
{
  transform: scale(1.2);
}

.social-container 
{      display: flex;
     justify-content: right;
 align-items: right;
}

/* Bottom */
.footer-bottom 
{    display: flex;
     justify-content: space-between;   /* left goes left, right goes right */
     align-items: center;
     padding: 10px 20px;
     color: #bbb;
    font-size: 14px;
    background-color:#616161;
	widht:100%;
}

/* Responsive */
@media (max-width: 768px) 
{
  .footer-container {
    flex-direction: column;
    text-align: center;
	widht:100%;
	  
  }

  .footer-section 
	{
    margin-bottom: 20px;
  }

  .social-container {
    justify-content: center;
  }
}
p.left{
	text-align: left;
}
p.right{
	text-align: right;
}
